<!DOCTYPE html>
<html>
  <%- include('../partials/head') %>
  <body>

    <%- include ../partials/menu-admin %>

    <div class='container'>
      <form action='/admin/store/<%= store._id%>?_method=PUT' method="post">
        <div>
          <label>Name:</label>
          <div class='col'>
            <input type='text' name='name' value="<%= store.name %>" class="form-control"/>
          </div>
        </div>
        <div>
          <label>Address:</label>
          <input type="text" name='addr1' value='<%= store.address.addr1 %>'/>
        </div>
        <div>
          <label>City: </label>
          <input type="text" name='city' value='<%= store.address.city %>'/>
        </div>
        <div>
          <label>State:</label>
          <input type="text" name='state' value='<%= store.address.state %>'/>
        </div>
        <div>
          <label>Postal Code:</label>
          <input type="text" name='postalCode' value='<%= store.address.postalCode %>'/>
        </div>

        <input type='submit' value="Update" class='col-form-submit btn btn-primary'/>

      </form>

      <br/><br/>

    </div>
    <%- include ../partials/footer %>
    <%- include ../partials/formFormatter %>
  </body>
</html>
