<!DOCTYPE html>
<html>
  <%- include('../partials/head') %>

  <style>
    .store:first{
      border-top:1px solid #eee;
    }
    .store{
      padding:1em;
      border-bottom:1px solid #eee;
    }
    .store_name{
      font-weight:bolder;
    }
  </style>
  <body class='container'>
    <h1><%= title %></h1>

    <button onclick="getLocation()" class='btn btn-secondary'>Use Current Location</button>
    <form action='/find-stores' method="get"  class="form-inline">

      <label class="col-12 col-sm-4 text-right">Location:</label>
      <div class="form-group col-12 col-sm-8">
        <input type='text' name='lat' id='lat' class="form-control col-6"/>
        <input type='text' name='lng' id='lng' class="form-control col-6"/>
      </div>

      <label class="col-12 col-sm-4 text-right">Distance:</label>
      <div class="form-group col-12 col-sm-8">
        <select class="form-control form-control-sm" name="distance">
          <option value=1 >&lt; 1mi</option>
          <option value=5 name="distance">&lt; 5mi</option>
          <option value=10 name="distance">&lt; 10mi</option>
          <option value=15 name="distance">&lt; 15mi</option>
        </select>
      </div>

      <label class="col-12 col-sm-4 text-right">Checkbox food/drink type:</label>
      <div class="form-group col-12 col-sm-8">
      </div>

      <label class="col-12 col-sm-4 text-right">outlets/wifi:</label>
      <div class="form-group col-12 col-sm-8">
      </div>


      <div class="col-12 ml-auto col-sm-8 ">
        <input type='submit' value="Submit" class="btn btn-primary"/>
      </div>
    </form>

    <hr/>
    <div class="container">
      <div class='row'>
        <div id="map" style="height:400px;" class="col col-12 col-md-6"></div>
        <div class="col col-12 col-md-6">
          <% if(typeof stores != 'undefined' && stores != null) {
            for(let i=0; i<stores.length;i++) { %>
              <div class="row store">
                <div class="store_name col col-6">
                  <a href="/stores/<%= stores[i]._id %>"><%= stores[i].name %></a>
                </div>
                <div class="store_address col col-6">
                  <%= stores[i].address.addr1 %><br/>
                  <%= stores[i].address.city + ", " + stores[i].address.state + " " + stores[i].address.postalCode %></br>
                  <%= stores[i].tel %>
                </div>
              </div>
            <% }
          } %>
        </div>
      </div>
    </div>

  </body>
  <script>
    function initMap() {

      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 14,
        center: {lat: <%= lat %>, lng: <%= lng %>}
      });
      new google.maps.Marker({
        position: {lat: <%= lat %>, lng: <%= lng %>},
        map: map,
        icon: {
          path: google.maps.SymbolPath.CIRCLE,
          scale: 5
        },
        /*icon: {
          path: 'M 125,5 155,90 245,90 175,145 200,230 125,180 50,230 75,145 5,90 95,90 z',
          fillColor: 'yellow',
          fillOpacity: 0.8,
          scale: 1,
          strokeColor: 'gold',
          strokeWeight: 14
        },*/
        /*label:{
          fontFamily:'MaterialIcons Regular',
          text:'gps_not_fixed'
        },*/
        //icon:'none',
      });
      <% if(typeof stores != 'undefined' && stores != null) {
        stores.forEach(function(store){ %>
        new google.maps.Marker({
          title: "<%= store.name %>",
          position: {lat: <%= store.coordinates.lat %>, lng: <%= store.coordinates.lng %> },
          map: map
        });
        <% });
      } %>

    }
  </script>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=<%= publicApiKey %>&callback=initMap">
  </script>


  <script>
  function getLocation() {
    if (navigator.geolocation) {
      let position = navigator.geolocation.getCurrentPosition(showPosition);
    } else {
      x.innerHTML = "Geolocation is not supported by this browser.";
    }
  }
  function showPosition(position) {
    document.getElementById('lat').value = position.coords.latitude;
    document.getElementById('lng').value = position.coords.longitude;

  }
  </script>

    <%- include('../partials/footer') %>
</html>
